//@import "../../colors";
@import "../commonDialog.scss";

.messageDialog {
  .dialogContent {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      img {
        width: auto;
        margin-right: 10px;
        margin-top: 3px;
      }
    }
    h1 {
      font-size: 1em;
      height: 1em;
      font-weight: bold;
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
