@import "../colors.css";

.startScreen {
  color: var(--color-text-primary);
  background-color: white;
  height: 100%;
  .core {
    width: 500px;
    padding: 4em;
    margin-left: auto;
    margin-right: auto;
  }
  .top {
    width: 251px;
    img {
      margin-bottom: 10px;
      width: 325px;
    }
    h1 {
      color: #182026;
      font-weight: 600;
      font-size: 40px;
      margin-top: 0;
      span {
        color: var(--project--color);
        position: relative;
        bottom: -0.3em;
        font-weight: normal;
      }
    }
  }
  .choices {
    position: relative;
    font-size: 14pt;
    img {
      margin-right: 10px;
      width: 20px;
      display: inline-block;
      vertical-align: sub;
    }
    a {
      display: inline-block;
      text-decoration: none !important;
      color: var(--color-text-primary);
      margin-top: 1em;
      border: solid 1px transparent;
      &:focus,
      &:hover {
        border-color: var(--project--color);
      }
    }
  }
  p.description {
    font-size: 12pt;
    color: darkgray;
    font-style: italic;
  }
}
