@import "../../../colors";

.personForm {
  display: grid;
  height: 1px; // in practice this means "minimum, don't space out rows"
  // the magic "59px" here is chosen to make the lang names line up with other fields even though
  // they are inside of another div that also shows the mother/father icons
  // grid-template-columns: 1fr 1fr 59px 1fr 1fr;
  // grid-template-rows: repeat(8, 1fr);
  // grid-auto-flow: column;
  // grid-gap: 10px 20px;
  // grid-template-rows: 41px auto 41px; // hack for now

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: min-content; //minmax(46px, 46px);
  grid-gap: 10px 20px; // row column

  // .first-column {
  //   margin-right: 100px;
  //   .field {
  //     width: calc(100% - 50px); // leave room for mom & dad icons
  //   }
  // }
  .full-right-side {
    grid-column: 3 / 5;
  }
  .full-name {
    grid-row: 1;
  }
  .nickname-and-code {
    grid-row: 2;
  }
  .primary-language {
    grid-column: 1/3;
  }
  .primaryLanguageLearnedIn {
    grid-row: 4;
    display: inline-flex;
    align-items: baseline;
    label {
      margin-right: 5px;
    }
    textarea {
      width: auto;
      flex-grow: 1;
    }
  }
  .left-side {
    grid-column: 1/3;
  }
  .other-languages {
    grid-row: 5/8;
    grid-column: 1/3;
  }
  .birth {
    grid-row: 1;
    grid-column: 3;
    textarea {
      width: 4em;
      display: block;
    }
  }
  .birth,
  .gender {
    select {
      width: 100%;
      height: 2em;
    }
  }
  .nickname {
    grid-column: 1;
  }
  .code {
    grid-column: 2;
  }
  .mugshot {
    grid-row: 1 / 3;
    grid-column: 4;

    img {
      width: auto;
      height: 97px;
      float: right;
    }
  }
  .gender {
    grid-row: 2;
    grid-column: 3;
    order: 5;
  }
  .howToContact {
    //grid-row: span 2;
    order: 7;
    textarea {
      overflow-y: auto;
      height: auto;
    }
  }
  .languageGroup {
    border-bottom: solid 1px gray;
    margin-bottom: 3px;
    //margin-top: 1em;
  }

  .language {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    .field {
      margin-top: 0;
      margin-bottom: 0;
    }
    .language-name {
      width: 100px;
      flex-grow: 1;
      margin-right: 8px;
      textarea {
        width: 100%; //just fill container
      }
    }
    .state {
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      &:hover {
        border: solid thin blue;
      }
    }
  }
  .customFieldsBlock {
    grid-column: 1 / 3;
    order: 8;
  }

  .education {
    grid-column: 3 / 5;
    order: 10;
    grid-row: 6; // otherwise it gets pushed down by Other Languages even tho that's on the left side
  }
  .ethnicGroup {
    grid-column: 3 / 5;
    order: 11;
    grid-row: 7; // otherwise it gets pushed down by Other Languages even tho that's on the left side
  }
  .primaryOccupation {
    grid-column: 3 / 5;
    order: 12;
    grid-row: 8; // otherwise it gets pushed down by Other Languages even tho that's on the left side
  }

  .description {
    grid-row: span 2;
    grid-column: 3 / 5;
    // I don't know why, but flex/column makes it fill up the space allotted by the grid
    display: flex;
    flex-direction: column;
    textarea {
      height: 100%;
      overflow-y: scroll;
    }
  }

  .languageNotRecognized textarea {
    color: red;
  }
}
