@use "../../colors";

form.project {
  max-width: 600px; // beyond that, the fields get hard to read
}
.project {
  //background-color: #F0F0F0;
  height: 100%;
  color: black;
  display: flex; // put the tabs on the left
  //max-width: 800px;
  //left side
  & > ul {
    width: 200px;
    padding: 10px;
    list-style: none;
    //  turn off the tab look
    .react-tabs__tab {
      border: none;
      border-radius: initial;
      width: 100%;
    }
  }
  & > .react-tabs__tab-list {
    background-color: white;
    width: 200px;
    flex-shrink: 0;
  }
  //right side
  .react-tabs__tab-panel--selected {
    width: 100%;
    //border: solid purple;
    display: flex;
    flex: 1;
    flex-direction: column;
    .folderPane {
      //border: solid purple;
      display: flex;
      flex: 1;
      flex-direction: column;

      .SplitPane {
        //        border: solid blue;
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: auto;
      }
    }
  }

  .primary {
    display: block; // just v-scroll if we don't have room
  }
  .primary,
  .collection,
  .fundingProject,
  .languages,
  .collectionLocation,
  .accessProtocol {
    .field {
      display: flex;
      height: initial;
      margin-bottom: 20px;

      &.field__newSection {
        margin-top: 50px;
      }
      label {
        text-align: right;
        width: 150px;
        margin-right: 1em;
        margin-top: 4px; // line up the label with the first line of text in the input field
      }

      textarea {
        width: 400px;
      }
    }
  }
}

.project .folderPane {
  .selected {
    background-color: colors.$project__selected--color;
    border-color: colors.$project__outline--color;
  }

  .react-tabs__tab-panel {
    padding-left: 1px;
    padding-top: 0px;
    padding-right: 0;
  }
  .project .react-tabs__tab-panel--selected {
    border: solid yellow !important;
    display: flex;
    flex: 1;
  }
  .project .react-tabs__tab-panel {
    border: solid red !important;
    display: flex;
    flex: 1;
  }
  .react-tabs__tab-list {
    background-color: colors.$project--color;
  }
}

.project-documents .fileList {
  min-height: 150px;
}
.project .react-tabs__tab-panel {
  background-color: colors.$project--color;
  //border: solid thin colors.$project__outline--color;
  padding: 10px;
  height: 100%; // unlike other tabs, this has tabs on left so can be taller

  .imdiView {
    margin-top: -22px;
  }
}
