@use "../../colors";

.sidebar {
  background-color: colors.$pane__interstitial--color;
  margin-top: 30px;
  width: 0;
  &.open {
    width: 300px;
  }
}

.notificationsIndicator {
  position: absolute;
  top: 0;
  right: 0;
}
