@import "../commonDialog.scss";

.exportDialog {
  .dialogContent {
    min-width: 600px;
    margin: 10px;
    legend {
      background-color: white;
      padding-bottom: 5px;
    }
    p {
      display: flex;
    }

    p {
      margin-left: 22px;
      margin-top: 9px;
    }

    input {
      //global sets this to the field height (2em), but that messes up
      // radios in this dialog, at least on mac.
      height: auto;
    }

    #whichSessions {
      margin-top: 8px;
      margin-left: 8px;
      label {
        margin-bottom: 5px;
      }
    }
  }
}
