//  NB: the background overlay cannot be set froma  stylesheet:
//  It is set in app.tsx, ReactModal!.defaultStyles!.overlay!.backgroundColor

// .ReactModal__Overlay {
//   background-color: rgba(0, 0, 0, 0.5);
// }

.ReactModalPortal {
  z-index: 1000;
}

.ReactModal__Content {
  z-index: 1000;
  position: absolute;
  border: none;
  background: white;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  flex-direction: row;
  width: fit-content;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  bottom: auto;
  top: 50%;
  padding: 20px;
  overflow: hidden;

  .dialogTitle {
    font-weight: bold;

    font-size: 20pt;
    /* this allows us to have a title on the left and some other label on the
right (see release notes dialog)*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .dialogContent {
    background-color: white;
    display: flex;
    flex-direction: column;

    overflow: auto;

    //make the radio buttons align with label
    input {
      vertical-align: text-top;
      // in the non-dialog forms, for some reason this is set to -3px
      margin-left: unset;
    }
    h1 {
      font-size: 1em;
      height: 1em;
      font-weight: bold;
      margin: 0;
    }
  }
  .bottomButtonRow {
    align-self: flex-end;
    float: right;
    margin-top: 20px;

    // see flex-direction in a rule that incorporates os class from app
    display: flex;
    flex-direction: row; // use for mac & Ubuntu

    button {
      width: auto;
      min-width: 100px;
      margin-left: 10px;
    }
    button:disabled {
      color: gray;
      border-color: lightgray;
      border-style: solid;
      border-width: 1px;
    }
  }

  .reverseOrderOnMac {
    display: flex;
    flex-direction: row; // use for mac & Ubuntu
  }

  // .bottomButtonRow {
  //   align-self: flex-end;
  //   display: flex; // this makes the help button's margin-right:auto work

  //   //todo: fix this
  //   width: 558px;

  //   position: absolute;
  //   bottom: 20px;

  //   // see flex-direction in a rule that incorporates os class from app
  //   //display: flex;
  //   //flex-direction: row; // use for mac & Ubuntu

  //   button {
  //     width: auto;
  //     min-width: 100px;
  //     margin-left: 10px;
  //   }
  //   button:disabled {
  //     color: gray;
  //     border-color: lightgray;
  //     border-style: solid;
  //     border-width: 1px;
  //   }
  //   #helpButton {
  //     //push the other buttons to the right margin
  //     margin-right: auto;
  //   }
  // }
}
// get the buttons ordered according to operating system preference
body.win32 .reverseOrderOnMac{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
body:not(.win32) .reverseOrderOnMac{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}