// .mask {
//   display: none;
// }
.mask.onlyIfInDropZone {
  display: none;
}
.drop-active {
  .onlyIfInDropZone {
    display: flex;
  }
}
.mask {
  text-align: center;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray; // text color

  z-index: 5000;
  //border: dashed 8px lightgray;
  background-color: rgba(256, 256, 256, 0.8);

  position: absolute; // NB: parent must be position: relative
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  // make the dashed border inset
  &:before {
    content: "foo"; /* we need something or it will be invisible */
    color: transparent;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 4px dashed lightgray;
  }
}
//}
