@import "../colors";

.componentTab {
  height: 100%;
  color: black;
  display: flex;

  .firstColumn {
    display: flex;
    flex-direction: column;
    width: 100%;

    .newFolderBar {
      padding-top: 8px;
      width: 100%;
      height: 50px;
      //border: solid blue;
    }
  }
}
