@import "../colors";
@import "./common";

.fileList {
  border: solid 1px $people__outline--color;
  cursor: pointer;
  background-color: white;
  width: 100%;
  position: relative; // needed by mask
  display: flex;
  flex-direction: column;

  // this fixes (hides?) a weird problem where the table
  // just keeps growing, but without a vscroll bar.
  min-height: 0;

  img {
    height: 16px;
    width: auto;
  }

  .fileBar {
    //background-color: $pane__interstitial--color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 7px;
    min-height: calc(1em + 10px);
    padding-top: 5px;
    font-size: 1em;
    li {
      list-style: none;
    }
    .menu {
      li {
        display: none;
      }
    }
    button {
      background-color: inherit;
      border-color: transparent;
      border-width: 1px;
      font-size: 1em;
      font-weight: bold;
      height: 21px; //hack for border
      margin: 0;
      border: solid 2px white;
      &:hover {
        border-color: $people--color;
        border: solid 2px $people--color;
      }
      &:disabled {
        color: lightgray;
        border: solid 2px white !important;
        cursor: not-allowed;
      }
    }
  }
}
