.filePane {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  .react-tabs {
    //background-color: yellow !important; //shouldn't see this
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }
  .react-tabs__tab-panel--selected {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    overflow: auto; // scroll bars if needed
  }

  .document-contents {
    height: 500px !important; //hack
  }

  .unhandledFileType {
    margin-top: 2em;
    margin-left: 1em;
  }

  .imageViewer {
    object-fit: contain;
  }

  .notesForm {
    display: flex;
  }
}
