@import "../colors";

.folderList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;

  .blahblah {
    flex-grow: 1; // take up all the vertical space except what newFolderBar needs
    // library code puts in 100%, which makes it take more space than the parent since it has a sybling
    height: inherit;
    background-color: inherit;
  }
}
.fileBar {
  //background-color: $pane__interstitial--color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  height: 65px;
  padding-top: 5px;
  font-size: 12px;
  li {
    list-style: none;
  }
  .menu {
    li {
      display: none;
    }
  }
}
