.imdiView {
  // Enhance: the size and scrolling of this got all messed up with the switch to electron 6
  // (though it could have been anything). It's currently a hack.
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1; // <--  grow to fit available space and then...
  overflow: hidden; // <-- ... show scroll if too big, instead of just going off the screen.
  code,
  code * {
    font-family: sans-serif;
  }
  pre {
    flex: 1; // fill space
  }
}
