.imdiView {
  height: 100%; // in project
  flex-grow: 1; // everywhere else
  display: flex;
  flex-direction: column;
  input: {
    width: 50px;
  }
  code,
  code * {
    font-family: sans-serif;
  }
  textarea {
    height: 100%; // in project
    flex-grow: 1; // everywhere else
  }
  pre {
    flex: 1; // fill space
  }
}
