#statusRadioGroup {
  margin: 1em;

  div {
    margin-bottom: 1em;

    img {
      width: auto;
      margin-right: 10px;
      margin-bottom: -4px; // mac align with the following radio & label
      // windows is handled below
    }
    label {
      display: inline-block;
      font-weight: normal;
    }
  }
}
.win32 #statusRadioGroup {
  img {
    margin-bottom: -1px; // windows align with the following radio & label
  }
}
