@import "../colors.scss";

:local {
  .container {
    height: 100%;
    left: 10px;
  }
  ul:global(.react-tabs__tab-list) {
    margin: 0;
  }

  .projectTab {
    &:global(.react-tabs__tab-panel--selected) {
      background-color: $project-color;
      height: 100%;
    }
  }
  //:global(react-tabs__tab-panel--selected).peopleTab{
  // .peopleTab {
  //   &:global(.react-tabs__tab-panel--selected) {
  //     // background-color: $people-color;
  //     height: 100%;

  //     border: solid pink;
  //     display: flex;
  //     // flex-grow: 1;
  //     flex-direction: column;
  //   }
  // }
}

.icon-and-label {
  display: flex;
  align-items: center;

  img {
    height: 24px;
    margin-right: 8px;
  }
}
.tabComponent {
  overflow: auto; // if scroll bars show, something is wrong, this is should size to the window
  height: 100%;
  flex: 1;

  .tab-panel-project {
    background-color: $project--color;
  }
  .tab-panel-sessions {
    background-color: $session--color;
  }
  .tab-panel-people {
    background-color: $people--color;
  }
  & > .react-tabs__tab-panel--selected {
    padding: 8px;
    // background-color: $people-color;
    height: 100%;

    //border: solid pink;
    display: flex;
    // flex-grow: 1;
    flex-direction: column;
  }

  //border: solid green;
  display: flex;
  flex-direction: column;
}

#tabContainer {
  flex: 1; //grow to fill as much as is can (up to edge of notification bar)
}
#topLevelOfOpenProjectScreen {
  display: flex;
  flex-direction: row;
}
