@import "../../colors.css";

.componentTab {
  height: 100%;
  color: var(--color-text-primary);
  display: flex;
  flex: 1 1 auto;
  min-height: 0; /* allow inner panes to scroll instead of overflowing */
}

.componentTab .firstColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.componentTab .firstColumn .newFolderBar {
  padding-top: 8px;
  width: 100%;
  height: 50px;
}

/* Ensure SplitPane consumes full available space */
.componentTab > .SplitPane {
  height: 100% !important;
  width: 100%;
  display: flex;
}
