//@import "~font-awesome/css/font-awesome.css";

@import "~react-table/react-table.css";

@import "~react-tabs/style/react-tabs.scss";

$select-input-height: 28px;
@import "~react-select/scss/default";

@import "./colors";

$icon-font-path: "~@blueprintjs/core/resources/icons";
@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/datetime/src/blueprint-datetime.scss";
@import "~react-datepicker/dist/react-datepicker.css";

$default-fonts: caption; // this supposed to be mapped to whatever the "system font" is, but on my win10, it doesn't choose segoe ui

$default-fonts: -apple-system, /* mac*/ "BlinkMacSystemFont",
  /* mac*/ "Segoe UI", /* windows*/ "Ubuntu", "Open Sans", sans-serif;

.tab-project.react-tabs__tab--selected {
  background-color: $project--color;
}
.tab-sessions.react-tabs__tab--selected {
  background-color: $session--color;
}
.tab-people.react-tabs__tab--selected {
  background-color: $people--color;
}

$color-interstitial: #f0f0f0;
* {
  box-sizing: border-box;
}
body,
html,
#root,
#app {
  height: 100%;
  margin: 0;
  background-color: $color-interstitial;
  color: black; //blueprint messes with this
  font-family: $default-fonts;
}
a {
  text-decoration: underline;
}
.field {
  // display: flex;
  // flex-direction: column;
  // width: 100%;

  //width: 30%;
  margin-top: 4px;
  margin-bottom: 4px;
  //margin-right: 8px;
}

.field:not(.text-block) {
  //height: 40px;
}
label {
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.text-block textarea {
  height: 6em;
}
textarea {
  border-style: inset;
  resize: none;
  height: 2em;
  width: 100%; //just fill the container

  &.invalid {
    border: solid 2px red;
  }
  font-family: $default-fonts;
}

.react-tabs {
  height: 100%;
  background-color: white;
}

.fileDetails {
  background-color: $pane__interstitial--color;
  border: solid thin $pane__border--color;
}

.paneTitle {
  display: none;
}

//make react-select style fit what we're doing with textarea
.Select .Select-control {
  border-style: inset;
  border-radius: 0px;
}
.Select-value-label {
  color: black !important; //react-select makes it some kind of almost-black
}

.react-tabs__tab:hover,
.react-tabs__tab--selected {
  font-weight: bold;
}

.mask {
  display: none;
}

.Resizer.horizontal {
  height: 11px;
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 10px;
  // margin: 0 -5px;
  // border-left: 5px solid rgba(255, 255, 255, 0);
  // border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer:hover {
  background-color: gray;
}
.Resizer {
  flex-shrink: 0;
  //background: #000;
  opacity: 0.4;
  z-index: 1;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // -moz-background-clip: padding;
  // -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  //transition: all 2s ease;
}
.SplitPane {
  //padding: 8px;
  position: relative !important; //by default it was absolute, which messed up auto sizing
  .Pane {
    display: flex;
  }
}
.not-implemented {
  color: lightgray;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  //todo: this needs work
  border-bottom: solid thin rgba(0, 0, 0, 0.5);
}

//React-select
.Select--multi .Select-value-icon {
  border-right: none; // turn off the vertical separator line
}
.Select--multi .Select-value {
  background-color: unset;
  margin-top: 2px; // the default pushs it down too far
  color: $session--color;
  border-color: $session--color;
}

.okCancelButtonRow {
  align-self: flex-end;
  float: right;
  margin-top: 2em;

  // see flex-direction in a rule that incorporates os class from app
  display: flex;
  flex-direction: row; // use for mac & Ubuntu

  button {
    width: auto;
    min-width: 100px;
    margin-left: 10px;
  }
  button:disabled {
    color: gray;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}

.win32 .okCancelButtonRow {
  // get the buttons ordered according to operating system preference
  flex-direction: row-reverse;
}
