//@import "~font-awesome/css/font-awesome.css";

@import "~react-table/react-table.css";

@import "~react-tabs/style/react-tabs.css";

@import "./colors";

@import "~react-datepicker/dist/react-datepicker.css";

$default-fonts: caption; // this supposed to be mapped to whatever the "system font" is, but on my win10, it doesn't choose segoe ui
$default-font-size: 1em; // note, we can't control the electron default font size as easily as the container, so we use em instead of rem

$default-fonts: "-apple-system" /* mac*/, "BlinkMacSystemFont" /* mac*/,
  "Segoe UI" /* windows*/, "Ubuntu", "Open Sans", sans-serif;
.tab-project.react-tabs__tab--selected {
  background-color: $project--color;
}
.tab-sessions.react-tabs__tab--selected {
  background-color: $session--color;
}
.tab-people.react-tabs__tab--selected {
  background-color: $people--color;
}

$color-interstitial: #f0f0f0;
* {
  box-sizing: border-box;
}

$field-height: 2em;
$label-to-field-sep: 3px;

body,
html,
#root,
#app {
  height: 100%;
  margin: 0;
  background-color: $color-interstitial;
  color: black; //blueprint messes with this
  font-family: $default-fonts;
}
a {
  cursor: pointer;
  text-decoration: underline;
  color: $link--color;
  &:visited {
    color: $link--color; //don't change after they've clicked it once
  }
}
.field textarea,
input {
  padding-left: 5px;
}
// .field {
//   // display: flex;
//   // flex-direction: column;
//   // width: 100%;

//   //width: 30%;
//   margin-top: 4px;
//   margin-bottom: 4px;
//   //margin-right: 8px;
// }

.field:not(.text-block) {
  //height: 40px;
}
label {
  user-select: none;
  display: block;
  //font-size: $default-font-size;
  font-weight: bold;
  margin-bottom: 3px;
}
.hint {
  font-size: 0.6em;
  float: right;
  color: grey;
  font-weight: normal;
}
.moreFieldsBlock label + div, // More Fields
.field label + div, // e.g People chooser
// span + textarea,
// label + textarea,
textarea
.languages label + div,
label + .select {
  margin-top: $label-to-field-sep;
}
li {
  cursor: default;
}
.text-block textarea {
  height: 6em;
}
body,
input,
select,
button,
.Select--multi .Select-value {
  font-size: $default-font-size;
  font-family: $default-fonts;
}
input,
select,
.Select--multi .Select-value {
  margin-left: -3px; // make it line up in grids
  // disable for 0.87 because auto performed better when user makes font size large.
  //     height: $field-height; //match textarea so grid rows are the same height
}
textarea {
  border-style: inset;
  resize: none;
  height: $field-height;
  width: 100%; //just fill the container
  font-size: $default-font-size;

  &.invalid {
    border: solid 2px red;
  }
  font-family: $default-fonts;
}

.rt-noData {
  display: none !important;
}
// no border when in a grid
.rt-tbody {
  cursor: pointer;
}
.rt-td {
  textarea {
    border: none;
    &.invalid {
      border: solid 2px red;
    }
  }
  select {
    border: none;
    width: 100%;
  }
}
button {
  font-family: $default-fonts;
  user-select: none;
}

.react-tabs {
  height: 100%;
  background-color: white;
}

.fileDetails {
  background-color: $pane__interstitial--color;
  border: solid thin $pane__border--color;
}

.paneTitle {
  display: none;
}

//make react-select style fit what we're doing with textarea
.Select .Select-control {
  border-style: inset;
  border-radius: 0px;
}
.Select-value-label {
  color: black !important; //react-select makes it some kind of almost-black
}

.react-tabs__tab:hover,
.react-tabs__tab--selected {
  font-weight: bold;
}

.Resizer.horizontal {
  height: 11px;
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 10px;
  // margin: 0 -5px;
  // border-left: 5px solid rgba(255, 255, 255, 0);
  // border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer:hover {
  background-color: gray;
}
.Resizer {
  flex-shrink: 0;
  //background: #000;
  opacity: 0.4;
  z-index: 1;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // -moz-background-clip: padding;
  // -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  //transition: all 2s ease;
}
.SplitPane {
  //padding: 8px;
  position: relative !important; //by default it was absolute, which messed up auto sizing
  .Pane {
    display: flex;
    overflow: hidden; // <-- this is key to fitting the available window space
  }
}
.not-implemented {
  color: lightgray;
}
.ReactTable {
  background-color: white;

  // prevent horizontal table scrolling (which can happen automatically and hide left columns)
  .rt-table {
    overflow-x: hidden;
  }
}
.ReactTable .rt-thead.-header {
  box-shadow: none;
  //todo: this needs work
  border-bottom: solid thin rgba(0, 0, 0, 0.5);
}
form .ReactTable {
  border-style: inset;
  border-color: rgb(169, 169, 169);

  .rt-td {
    padding-top: 0;
    padding-bottom: 0;
  }
}
//React-select
.Select--multi .Select-value-icon {
  border-right: none; // turn off the vertical separator line
}
.Select--multi .Select-value {
  background-color: unset;
  margin-top: 2px; // the default pushs it down too far
  color: $session--color;
  border-color: $session--color;
}
.todo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.date-picker {
  height: $field-height;
}

//take up the whole cell, because else you get dead areas where you click and nothing happens
// I know, I know, it looks... wrong...
.rt-td .react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__input-container {
    width: 100%;
    .input {
      width: 100%;
    }
  }
}

form {
  padding-right: 10px;
}

input {
  border-style: inset;
  border-color: rgb(169, 169, 169);
  border-width: 1px;
}
.markAsNotImdi {
  color: #6d6d6d;
}

.react-tooltip-lite {
  max-width: 300px !important;
}

.notificationTray ul li div div {
  width: 500px !important;
}
.bt-toast {
  .title,
  .content {
    font-size: 14pt;
    line-height: 1.2em;
    padding-right: 30px;
  }
}
