//$people-color: #c7cfdb;
$project-color: #e69664;
$header-background-color: white;
$project--color: #e69664;
$people--color: #becde4; // saymore was #c7cfdb;
$people__disabled--color: #becde4;
$session--color: #cff09f;
$pane__interstitial--color: #f0f0f0;
$pane__border--color: #abadb3;
$session__outline--color: transparent; // #94c397;
$people__outline--color: transparent; // #7092be;
$project__outline--color: transparent; // #b64906;
$session__selected--color: rgba(207, 240, 159, 0.28); //$session--color;
$people__selected--color: rgba(16, 100, 228, 0.1); //$people--color;
$project__selected--color: rgba(230, 150, 100, 0.28);
$people__oddRowHighlight--color: #f4f7fa;
$sessions__oddRowHighlight--color: rgba(207, 240, 159, 0.07);
