@import "../../colors";

.people {
  background-color: $people--color;
  .react-tabs__tab-list {
    background-color: $people--color;
  }
  .react-tabs {
    background-color: $people--color;
  }
  .not-implemented {
    color: $people__disabled--color;
  }
  .selected {
    background-color: $people__selected--color;
    border-color: $people__outline--color;
  }
  .folderList {
    border: solid 1px $people__outline--color;
    cursor: pointer;
  }
  .fileList {
    button:disabled {
      color: $people__disabled--color !important;
    }
  }
}
