.field.access-protocol {
  display: flex;
  > label {
    width: 120px;
    margin-right: 10px;
  }
  .protocol-documentation {
    margin-top: 10px;
    max-width: 600px;
    h1 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 1em;
    }
  }
}
