@import "../../colors";
.ReactModal__Content.createProject {
  position: absolute;
  border: 3px solid $project--color;
  background: white;
  overflow: auto;
  border-radius: 4px;
  outline: none;

  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  bottom: auto;
  top: 50%;

  .dialogContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 1em;
      height: 1em;
      font-weight: bold;
      margin: 0;
    }
    p.message {
      font-size: 1em;
      height: 1em;

      &.error {
        color: red;
      }
    }
    input {
      // width: calc(
      //   1em * 30
      // );
      height: 2em;
      font-size: 12px;
      margin-top: 11px; // In Windows, this must be odd else the top line is invisible. I kid you not.
      margin-bottom: 1em; // needed on Mac.
    }
    // .okCancelButtonRow  is defined in app.global.scss
  }
}
