@use "../colors";

.folderList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;

  // We've had a lot of trouble, starting with 0.7.5, with getting the
  // react table to scroll properly. What I have here is still not
  // perfect, because it puts the
  // This is the 1st part of keeping the table from
  // growing when the number of folders is taller than the screen can show
  min-height: 0;
  .ReactTable {
    // this is the 2nd part of keeping the table from
    // growing when the number of folders is taller than the screen can show
    min-height: 0;
    .rt-tbody {
      // this is the 3rd part of showing the vertical scrollbar as needed.
      // override a min-width that the react-table is putting in, that cause
      // us to no get to see the vertical scrollbar if the splitter is set such
      // that the table is too thin to show the scrollbar
      // (there's probably a better way).
      min-width: 0 !important;

      // let's not scroll horizontally
      overflow-x: hidden;
    }
    //flex-grow: 1; // otherwise it shrinks down to the number of rows and looks wierd
  }
  // .blahblah {
  //   flex-grow: 1; // take up all the vertical space except what newFolderBar needs
  //   // library code puts in 100%, which makes it take more space than the parent since it has a sybling
  //   height: inherit;
  //   background-color: inherit;
  // }
  .hasConsent {
    display: flex;
    flex-direction: column;
  }
  img {
    align-self: center;
    height: 16px;
    width: auto;
  }
  .rt-td.status {
    display: flex;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
