@import "../colors.css";

.folderList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 0;
  .ReactTable {
    min-height: 0;
    .rt-tbody {
      min-width: 0 !important;
      overflow-x: hidden;
    }
  }
  .hasConsent {
    display: flex;
    flex-direction: column;
  }
  img {
    align-self: center;
    height: 16px;
    width: auto;
  }
  .rt-td.status {
    display: flex;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
