/* used by (at least) AutoForm, Notes, PersonForm */

form {
  height: 100%;
  background-color: transparent; // $color-session;
  overflow: auto;
  //border: solid thin $color-session-outline;
  //no: parent should have a padding instead margin: 8px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start; // stack from top on all columns
  // margin: 0 -8px;

  .fill-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    textarea {
      flex-grow: 1;
    }
  }
  label {
    flex-shrink: 0; // don't start wrapping and stuff because the field got really full
  }
}
