@import "../../colors";

.contributors {
  background-color: white;
  .rt-td {
    // not needed? Note with it at "unset", in the filelist long names may spill over into next column
    //overflow: unset; //allow comboboxes to draw list outside cell
  }
  .Select-control {
    border: none !important;
  }
  .Select-arrow,
  .Select-placeholder {
    visibility: hidden;
  }
  .rt-td:hover .Select-arrow {
    visibility: visible;
  }
  input {
    border: none;
    width: 100%; //fit within the column width
  }
  textarea {
    overflow: hidden;
    //white-space: nowrap;
    height: auto; //go ahead and grow the row to show all the text
    border: none;
  }
  &.ReactTable {
    .-odd {
      //todo: should be different for sessions
      background-color: $sessions__oddRowHighlight--color;
    }
    flex-grow: 1; //fill to the bottom, without just filling with empty rows (cause we're setting minRow=0 in the ReactTable)
    .rt-td {
      overflow: visible !important; // allow Select to drop down
    }
    .rt-tr-group {
      flex-grow: 0;
    }
    //let the even/odd background color through
    input,
    textarea,
    .Select-control {
      background-color: transparent;
    }
  }
}
