@import "../../colors";

.sessions {
  background-color: $session--color;
  .selected {
    background-color: $session__selected--color;
    border-color: $session__outline--color;
  }
  .react-tabs {
    background-color: $session--color;
  }
  .react-tabs__tab-list {
    background-color: $session--color;
  }
}
