//@import "../../colors";
@import "../commonDialog.scss";

.confirmDeleteDialog {
  .dialogContent {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: calc(1em * 30);

    .row {
      display: flex;
      flex-direction: row;
      img {
        width: auto;
        height: 50px;
      }
    }
    h1 {
      font-size: 1em;
      height: 1em;
      font-weight: bold;
      margin: 0;
    }
  }
}
