//@import "../../colors";
@import "../commonDialog.scss";

.confirmDeleteDialog {
  .dialogContent {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      img {
        width: auto;
        height: 50px;
      }
    }
    h1 {
      font-size: 12px;
      height: 1em;
      font-weight: bold;
      margin: 0;
    }

    // .okCancelButtonRow  is defined in app.global.scss
  }
}
