@use "../../colors";

.people {
  background-color: colors.$people--color;
  .react-tabs__tab-list {
    background-color: colors.$people--color;
  }
  .react-tabs {
    background-color: colors.$people--color;
  }
  .not-implemented {
    color: colors.$people__disabled--color;
  }
  .selected {
    background-color: colors.$people__selected--color;
    border-color: colors.$people__outline--color;
  }
  .folderList {
    border: solid 1px colors.$people__outline--color;
    cursor: pointer;
  }
  .fileList {
    button:disabled {
      color: colors.$people__disabled--color !important;
    }
  }
}
